aiohttp
beautifulsoup4
faiss-cpu
fastapi
httpx
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
lark
numpy
pandas
playwright
pyarrow
pyperclip
pymongo
pymupdf
python-dateutil
python-dotenv
python-multipart
reportlab
selenium
selectolax
sentence-transformers
torch
uvicorn
